@using Sitecore.Forms.Mvc.Html
@using Sitecore.Forms.Mvc.ViewModels.Fields
@model RadioListField

@using (Html.BeginField())
{
    string direction = Model.Direction;
    int columns = Model.Columns;
    if (columns == 0)
    {
        columns = 1;
    }
    var colMod = Model.Items.Count % columns;
    var rows = colMod > 0 ? Model.Items.Count / columns + 1 : Model.Items.Count / columns;
    var index = 0;
    var css = Model.CssClass;

    if (!String.IsNullOrEmpty(direction) && direction.Equals("Horizontal"))
    {
        <div class="@css radio">
            <table class="@css">
                @for (int col = 0; col < columns; col++)
                {
                    <tr>
                        @{
                            for (int i = 0; i < rows; i++)
                            {
                                if (Model.Items.Count == index)
                                {
                                    break;
                                }
                                <td>
                                    @using (Html.BeginTag("label"))
                                    {
                                        @Html.RadioButtonFor(x => Model.Value, Model.Items[index].Value, (Model.Items[index].Selected) ? new {Checked = "checked"} : null)
                                        @Model.Items[index].Text
                                    }
                                </td>
                                index++;
                            }
                        }
                    </tr>
                }
            </table>
        </div>
    }
    else
    {
        <div class="@css radio">
            <table class="@css">
                @for (int row = 0; row < rows; row++)
                {
                    index = row;
                    <tr>
                        @for (int column = 1; column <= columns; column++)
                        {
                            if (index >= Model.Items.Count)
                            {
                                break;
                            }
                            <td>
                                <label>
                                    @Html.RadioButtonFor(x => Model.Value, Model.Items[index].Value, (Model.Items[index].Selected) ? new {Checked = "checked"} : null)
                                    @Model.Items[index].Text
                                </label>
                            </td>

                            if (colMod > 0 && column > colMod)
                            {
                                index += rows - 1;
                            }
                            else
                            {
                                if (row == rows - 1 && column >= colMod && colMod > 0)
                                {
                                    break;
                                }
                                index += rows;
                            }
                        }
                    </tr>
                }
            </table>
        </div>
    }
}